@import './reset.scss';
@import 'nprogress/nprogress.css';
@import './custom-ui.scss';
@import './transition.scss';

body {
  -webkit-tap-highlight-color: transparent; // 解决在移动端时，点击元素会出现蓝色背景的问题
  background-color: #f1f1f1;
}

#app {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
